.page {
    font-family: sans-serif;
}

.page__body {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(img/wheat-back.jpg);
    background-position: bottom;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 84px;
}

.container-800 {
    width: 800px;
    margin: 0 auto;
}

.menu__nav {
    margin: 0;
    padding: 0;
}

.menu__logo {
    float: left;
}

img {
    display: block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.menu__list {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 10px;
}

.menu__item {
    float: left;
    margin-right: 54.5px;

}

.menu__item:last-child {
    margin-right: 0px;
}


.menu__link {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: 1;
    padding-top: 21px;
    padding-bottom: 20px;
}

.menu__link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: -1px;
    color: #ffcb78;
}

/* .menu__link:visited {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: -1px;
    color: #ffcb78;
} */


.menu__title {
    margin-top: 120px;
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    line-height: 1;

}

.main {
    background-color: sandybrown;
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
}
