.page {
    font-family: sans-serif;
}

.page-body {
    margin: 0px;
}

.header {
    background-image: url(img/wheat-back.jpg);
    background-position: bottom;
    background-size: cover;
    padding-top: 52px;
    padding-bottom: 60px;
}

.container-800 {
    width: 800px;
    margin: 0 auto;
    background-color: tomato;
}

.menu__nav {
    background-color: steelblue;
    margin: 0;
    padding: 0;
}

.menu__logo {
    display: inline-block;
    background-color: chartreuse;
}

.menu__list {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;

}

.menu__item {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: chartreuse;
}

.menu__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.menu__title {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    background-color: steelblue;
}
